h2.block-title {
  line-height: 1.1;
  margin-bottom: 5px;
}

body {
  color: #333;
}


/* HEADER */
.site-name {
	margin-bottom: 10px;
	margin-left: 5px;
}

.site-name a {
  font-size: 22px;
}


/* MAIN MENU */
#zone-menu {
	background: #7a5294;
}

#zone-menu ul {
	margin-bottom: 2px;
}

#zone-menu ul li {
	display: inline-block;
	padding: 0;
	margin: 0 5px;
	border-bottom: 4px solid #9674ab;
}

#zone-menu ul li a,
#zone-menu ul li a:visited {
	padding: 2px 0;
	font-weight: normal;
	color: #FFF;
}

#zone-menu ul li a:active,
#zone-menu ul li a:hover,
#zone-menu ul li a.active,
#zone-menu ul li a.active-trail {
	color: #FFF;
	border-bottom: 4px solid #FFF;
	text-decoration: none;
}


/* MAIN MENU - Default 
#zone-menu {
  background: #7a5294;
  padding: 5px 0 12px 0;
}

.zone-menu .region-menu {
  margin: 0 2px;
}

.zone-menu ul li {
  padding: 5px 0 2px 0;
  margin: 5px 7px;
  border-bottom: 4px solid #9674ab;
}

.zone-menu ul li a,
.zone-menu ul li a:visited {
  padding: 5px 0 2px 0;
  font-weight: normal;
  text-shadow: none;
  color: #FFF;
}

.zone-menu ul li a:active,
.zone-menu ul li a:hover,
.zone-menu ul li a.active,
.zone-menu ul li a.active-trail {
  color: #FFF;
  border-bottom: 4px solid #FFF;
  text-decoration: none;
}
*/

/* SECONDARY MENU */
#block-menu-block-2 {
  margin: 0 0 10px 0;
}

#region-sidebar-first {
  background: #EFEAF2;
  border-bottom: 10px solid #7A5294;
  margin: 0 0 20px 0;
  padding: 15px 0 20px 0;
}

#region-sidebar-first .block-inner {
  padding: 0 15px;
}

.region-sidebar-first .menu-block-wrapper {
  
}

.region-sidebar-first ul.menu {
}

.region-sidebar-first ul.menu li {
  display: block;
  padding: 2px 0;
  margin: 0 0 7px 0;
}

.region-sidebar-first ul.menu li:hover,
.region-sidebar-first ul.menu li.active,
.region-sidebar-first ul.menu li.active-trail {
  background-color: #FFF;
}

.region-sidebar-first ul.menu li a {
  color: #7A5294;
  font-weight: normal;
  display: block;
  margin-left: 10px;
}

.region-sidebar-first ul.menu li a:hover,
.region-sidebar-first ul.menu li a.active,
.region-sidebar-first ul.menu li.active a.active {
  color: #4B116F;
  text-decoration: none;
}


/* TERTIARY MENU */
.region-sidebar-first ul.menu ul.menu {
	margin: 5px 0 5px 15px;
	padding: 0 5px 0 0;
	line-height: 1.2;
}

.region-sidebar-first ul.menu ul.menu li {
	margin: 0 0 3px 0;
}

.region-sidebar-first ul.menu ul.menu li a {
	font-size: 12px;
}

.region-sidebar-first ul.menu ul.menu li a.active,
.region-sidebar-first ul.menu ul.menu li a:hover {
	color: #4b116f;
	text-decoration: underline;
}


/* CONTENT */
.section-content {
	margin-bottom: 20px;
}

#region-content {
  margin-top: 10px;
  margin-left: 15px;
}

h1#page-title,
h2.pane-title {
	color: #7a5294;
	border-bottom: 5px solid #7a5294;
	line-height: 1.16;
	margin-bottom: 6px;
}

/* FOOTER */



/* SITE NAME DIFFERENCES */
.context-classic-upward-bound .site-name,
.context-iowa-mathematics-science-academy .site-name,
.context-educational-talent-search .site-name,
.context-educational-opportunity-center .site-name {
	display: none;
}

.context-classic-upward-bound .site-name a,
.context-educational-talent-search .site-name a, 
.context-educational-opportunity-center .site-name a {
	font-size: 28px;
}

.context-iowa-mathematics-science-academy .site-name a {
	font-size: 25px;
}

.context-classic-upward-bound .site-name,
.context-iowa-mathematics-science-academy .site-name {
	padding-top: 8px;
}

#cub-site-name,
#imsa-site-name,
#ets-site-name,
#eoc-site-name {
	display: none;
}

.context-classic-upward-bound #cub-site-name,
.context-classic-upward-bound #cub-site-name .site-name,
.context-iowa-mathematics-science-academy #imsa-site-name,
.context-iowa-mathematics-science-academy #imsa-site-name .site-name,
.context-educational-talent-search #ets-site-name,
.context-educational-talent-search #ets-site-name .site-name,
.context-educational-opportunity-center #eoc-site-name,
.context-educational-opportunity-center #eoc-site-name .site-name {
	display: block;
}

/* SITE NAME IMAGES/LOGOS */
.context-classic-upward-bound #cub-site-name,
.context-iowa-mathematics-science-academy #imsa-site-name {
	width: 700px;
}

.context-classic-upward-bound #cub-site-name img,
.context-iowa-mathematics-science-academy #imsa-site-name img {
	padding: 0 15px 3px 10px;
}

.context-iowa-mathematics-science-academy #imsa-site-name img {
	padding-top: 8px;
}